# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/
*.env
.env

# Virtual environment
venv/

# Database and local data
# chroma_db/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
